<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 ie8 lt9"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lt9"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="keywords" content="<?= keywords ?>">
    <meta name="description" content="<?= description ?>" />
    <title>
        <?= title ?>
    </title>
    <script>
        window.__state__ = <?- state ?>
    </script>
</head>

<body>
    <div id='mainContainer'>
        <?- component ?>
    </div>
</body>

</html>